/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html, body {
  background: #c7c7c7;
  min-height: 100vh;
}
[role="main"] {
  flex-grow: 1;
}
.footer {
  margin-top: auto;
  display: block;
  background: #373645;
}
.row {
  margin: 0;
}
.dialog-off-canvas-main-canvas .navbar-header .navbar-brand, footer .navbar-brand {
  background: #373645;
  color: #c7c7c7;
  border: 1px solid #c7c7c7;
}
@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
/*header {*/
/*  min-height: 700px;*/
/*  min-width: 100%;*/
/*  overflow: hidden;*/
/*  background-size: cover;*/
/*  background: #6667ab center center;*/
/*}*/
