/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html, body {
  background: linear-gradient(#141e30,#9d6f55);
  min-height: 100vh;
}
[role="main"] {
  flex-grow: 1;
}
.footer {
  margin-top: auto;
  display: block;
  background: #141e30;
}
.row {
  margin: 0;
}
.dialog-off-canvas-main-canvas .navbar-default {
background: rgba(0,0,0, 12%);
  color: #c7c7c7;
}
.dialog-off-canvas-main-canvas {
  color: #c7c7c7;
}
.dialog-off-canvas-main-canvas .navbar-header .navbar-brand, footer .navbar-brand {
  background: transparent;
  border: 1px solid #c7c7c7;
  text-transform: uppercase;
}
.dialog-off-canvas-main-canvas .navbar-header .navbar-brand {
  border: none;
}
.dialog-off-canvas-main-canvas .navbar-brand {
  color: #c7c7c7;
}
a:hover, .dialog-off-canvas-main-canvas .navbar-header .navbar-brand:hover, .dialog-off-canvas-main-canvas .navbar-nav > li > a:hover {
  color: #CEB7B6;
}
@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
.navbar-default .navbar-nav > li > .is-active {
  background: #c7c7c7;
}
.page-header {
  text-transform: uppercase;
  text-align: center;
}
/*header {*/
/*  min-height: 700px;*/
/*  min-width: 100%;*/
/*  overflow: hidden;*/
/*  background-size: cover;*/
/*  background: #6667ab center center;*/
/*}*/
