.page-header {
  text-align: center;
}
.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html,
body {
  background: #c7c7c7;
  min-height: 100vh;
}
[role="main"] {
  flex-grow: 1;
}
.footer {
  margin-top: auto;
  display: block;
  background: #373645;
}
.row {
  margin: 0;
}
.dialog-off-canvas-main-canvas.header.navbar-header.navbar-brand {
  background: #373645;
  color: #c7c7c7;
  border: 1px solid #c7c7c7;
}
@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
.vloydd-cats-form input {
  padding: 5px 20px;
  max-width: 768px;
}
.vloydd-cats-form button {
  background: #373645;
  border-color: #4cae4c;
  padding: 7px 15px 3px;
}
.vloydd-cats-form button:hover {
  border-color: #373645;
  background: #4cae4c;
}
@media (min-width: 992px) {
  input [data-drupal-selector="edit-catsemail"] {
    width: 768px;
  }
}
.false_email {
  color: red;
  font-size: 12px;
}
