.page-header {
  text-align: center;
}
.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html, body {
  background: #c7c7c7;
  min-height: 100vh;
}
[role="main"] {
  flex-grow: 1;
}
.footer {
  margin-top: auto;
  display: block;
  background: #373645;
}
.row {
  margin: 0;
}
.navbar-brand {
  background: #373645;
  color: #c7c7c7;
  border: 1px solid #c7c7c7;
}
@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
.vloydd-cats-form button {
  background: #373645;
  padding: 7px 15px;
}
.vloydd-cats-form [data-drupal-selector="edit-catsname"] {
  padding: 5px 20px;
}
