.page-header {
  text-align: center;
}
.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #6667AB;
}
html,
body {
  background: #c7c7c7;
  min-height: 100vh;
  /*font-family: 'Comic Sans MS', 'Comic Sans', cursive;*/
}
/*body {*/
/*  font-family: 'Comic Sans MS', 'Comic Sans', cursive;*/
/*}*/
[role="main"] {
  flex-grow: 1;
}
.footer {
  margin-top: auto;
  display: block;
  background: #373645;
}
.row {
  margin: 0;
}
.dialog-off-canvas-main-canvas.header.navbar-header.navbar-brand {
  background: #373645;
  color: #c7c7c7;
  border: 1px solid #c7c7c7;
}
@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
.vloydd-cats-form input {
  padding: 5px 20px;
  max-width: 768px;
}
.vloydd-cats-form button {
  background: #373645;
  border-color: #4cae4c;
  padding: 7px 15px 3px;
}
.vloydd-cats-form button:hover {
  border-color: #373645;
  background: #4cae4c;
}
@media (min-width: 992px) {
  input [data-drupal-selector="edit-catsemail"] {
    width: 768px;
  }
}
.false_email, .messages--error {
  color: red;
  font-size: 12px;
}
/*.navbar {*/
/*  height: 300px;*/
/*  min-width: 100%;*/
/*  overflow: hidden;*/
/*  background-size: cover;*/
/*  background: #6667ab center center;*/
/*  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;*/
/*}*/
/*.dialog-off-canvas-main-canvas .navbar-default {*/
/*  background-color: #6667ab;*/
/*}*/
