@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Licorice&family=Permanent+Marker&family=Shizuru&display=swap');
.page-header {
  text-align: center;
}
.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #c7c7c7;
  font-family: 'Permanent Marker', cursive;

}
html,
body {
  background: #c7c7c7;
  min-height: 100vh;
  /*font-family: 'Comic Sans MS', 'Comic Sans', cursive;*/
}
/*body {*/
/*  font-family: 'Comic Sans MS', 'Comic Sans', cursive;*/
/*}*/
[role="main"] {
  flex-grow: 1;
}
.footer {
  margin-top: auto;
  display: block;
  background: #141e30;
}
.row {
  margin: 0;
}
.dialog-off-canvas-main-canvas.header.navbar-header.navbar-brand {
  background: #373645;
  color: #c7c7c7;
  border: 1px solid #c7c7c7;
}
@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
.vloydd-cats-form input {
  padding: 5px 20px;
  max-width: 768px;
  border: none;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #6caca0;
  background: transparent;
  transition: none;
  box-shadow: rgb(0 0 0 / 13%) 0px 2px 0px 0px;
  border-radius: 0;
}
/*.vloydd-cats-form button {*/
/*  background: #373645;*/
/*  border-color: #4cae4c;*/
/*  padding: 7px 15px 3px;*/
/*}*/
/*.vloydd-cats-form button:hover {*/
/*  border-color: #373645;*/
/*  background: #4cae4c;*/
/*}*/
@media (min-width: 992px) {
  input [data-drupal-selector="edit-catsemail"] {
    width: 768px;
  }
}
.false_email, .messages--error {
  color: rgb(244 113 116);
  font-size: 12px;

}
.form-group {
  margin-bottom: 25px;
}
.vloydd-cats-form {
  max-width: 400px;
  display: block;
  margin: auto;
  box-sizing: border-box;
  background: rgba(0,0,0,0.1);
  padding: 40px;
  border-radius: 10px;
  text-align: start;
}
.form_message_intro {
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.vloydd-cats-form input::placeholder {
  color: #c7c7c7;
}
.vloydd-cats-form input:focus {
  box-shadow: 0 3px 2px -2px rgb(255 202 201 / 60%);
}
.vloydd-cats-form input {
  color: #c7c7c7;
}
#edit-catsphoto-upload:focus {
  outline: none;
}
.file--image a, .alert-success  {
  word-break: break-all;
}
.vloydd-cats-form .has-error .form-control  {
  box-shadow: none;
  box-shadow: 0 3px 2px -2px rgb(244 113 116 / 60%);
  outline: none;
}
.vloydd-cats-form .has-error .form-control:hover {
  box-shadow: 0 3px 2px -2px rgb(244 113 116 / 60%);
}
::-webkit-file-upload-button {
  background: transparent;
  color: #c7c7c7;
  outline: none;
}
::-webkit-file-upload-button:hover {
  background-color: #c39d5a;
  color: white;
  cursor: pointer;
}
.alert {
  max-width: 400px;
  margin: 0 auto 20px;
  /*display: flex;*/
  /*flex-direction: column;*/
}
.alert span {
  margin-left:  auto;
}
.alert p {
  text-align: center;
}
.vloydd-cats-form .alert-dismissable, .vloydd-cats-form .alert-dismissible {
  padding-right: 15px;
}
::-webkit-file-upload-button, .vloydd-cats-form [data-drupal-selector="edit-submit"], .vloydd-cats-form .btn-success {
  display: inline-block;
  /*padding: 10px 20px;*/
  color: #6caca0;
  text-transform: uppercase;
  text-align: center;
  transition: 2s;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #6caca0;
  background: transparent;
}
::-webkit-file-upload-button:hover, .vloydd-cats-form [data-drupal-selector="edit-submit"]:hover, .vloydd-cats-form .btn-success:hover {
  background: #6caca0;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(244 113 116 / 60%), 0 0 20px rgb(244 113 116 / 60%);
  border-bottom: 1px solid #6caca0;
}
.vloydd-cats-form [data-drupal-selector="edit-submit"] .btn-success:focus, .btn-success:focus, .vloydd-cats-form [data-drupal-selector="edit-submit"] .btn-success:active, .vloydd-cats-form .btn-success:active {
  border: none;
  border-radius: 5px;
  outline: 0;
  outline-offset: 0;
  background: #ffcac9;
  color: #6caca0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:visited,
input:-webkit-autofill:target,
input:-webkit-autofill:active,
input:-webkit-autofill:focus-visible,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
select:-webkit-autofill:visited {
  border: none;
  border-bottom: 1px solid #6caca0;
  -webkit-text-fill-color: #c7c7c7;
  border-radius: 10px 10px 0 0;
  padding: 5px 20px;
  max-width: 768px;
  font-size: 16px;
  outline: none;
  -webkit-box-shadow: rgb(0 0 0 / 13%) 0px 2px 0px 0px;
  background-color: transparent;
  /*transition: background-color 5000s ease-in-out 0s;*/
  -webkit-box-shadow: 0 0 0px 1000px RGBA(20,30,48,0.5) inset;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
input:-webkit-autofill {
  padding: 5px 20px;
  max-width: 768px;
  border: none;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #6caca0;
  background: transparent;
  transition: none;
  box-shadow: rgb(0 0 0 / 13%) 0px 2px 0px 0px;
  border-radius: 0;
}
.vloydd-cats-form label {
  display: none;
}
.vloyd_table_wrapper {
  margin: 20px auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.vloyd_table {
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 100%;
  font-size: 25px;
  align-items: center;
}
.vloyd_item {
  padding: 15px;
  word-break: break-all;
}
.vloyd_table .vloyd_image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 55px;
  height: 150px;
  width: 150px;
  border: 1px #fff solid;
  padding: 0;
}
.vloyd_table .vloyd_image {
  margin: auto;
}
.vloyd_item {
  word-break: break-word;
  align-items: center;
}
.vloyd_name {
  max-width: 400px;
}
.vloyd_email {
  max-width: 400px;
}
.vloyd_time {
  max-width: 300px;
}
@media (min-width: 767px) {
  .vloyd_time {
    width: 150px;
  }
  .vloyd_email {
    width: 300px;
  }
  .vloyd_name {
    width: 100px;
  }
}
@media (max-width: 767px) {
  .vloyd_table .vloyd_image {
    /*height: 100px;*/
    /*width: 100px;*/
  }
  .vloyd_item {
    padding: 10px 0;
  }
  .vloyd_table {
    flex-direction: column;
  }
  .vloyd_email {
    font-size: 17px;
  }
}
